<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.co.troot.llog">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <permission android:name="com.troot.llog.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <uses-feature android:required="true" android:glEsVersion="0x00020000"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-library android:name="com.google.android.maps"/>
        <activity android:name=".MapActivity" android:label="GPS Logger" android:configChanges="orientation|screenSize" android:screenOrientation="portrait"/>
        <activity android:name=".PhotoActivity"/>
        <activity android:name=".EditActivity" android:label="編集" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity android:name=".PhotoListActivity" android:label="写真一覧"/>
        <activity android:name=".PhotoZoomActivity" android:label="拡大写真"/>
        <activity android:name=".UploadActivity" android:label="アップロード" android:screenOrientation="portrait"/>
        <activity android:name=".PlaceActivity" android:label="場所" android:screenOrientation="portrait"/>
        <activity android:name=".PlaceEditActivity" android:label="場所編集" android:screenOrientation="portrait"/>
        <meta-data android:value="AIzaSyACmuSVqFwK_5Y2oAEJ47MtdkTY3QJMehQ" android:name="com.google.android.geo.API_KEY"/>
    </application>

</manifest>